body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1368px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2723 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2724_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:740px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2724 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:64px;
  width:360px;
  height:740px;
  display:flex;
}
#u2724 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2724_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2725_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:28px;
}
#u2725 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:64px;
  width:360px;
  height:28px;
  display:flex;
}
#u2725 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2725_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2726_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
}
#u2726 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:71px;
  width:27px;
  height:15px;
  display:flex;
}
#u2726 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2726_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2727_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:14px;
}
#u2727 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:71px;
  width:19px;
  height:14px;
  display:flex;
}
#u2727 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2727_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2728_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u2728 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:72px;
  width:39px;
  height:17px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u2728 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2728_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2730 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2731_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:77px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u2731 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:799px;
  width:28px;
  height:77px;
  display:flex;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u2731 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2731_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2732_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:59px;
}
#u2732 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:40px;
  width:416px;
  height:59px;
  display:flex;
}
#u2732 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2732_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2733_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:757px;
}
#u2733 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:99px;
  width:29px;
  height:757px;
  display:flex;
}
#u2733 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2733_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2734_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:55px;
}
#u2734 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:799px;
  width:358px;
  height:55px;
  display:flex;
}
#u2734 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2734_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2735_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:757px;
}
#u2735 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:99px;
  width:29px;
  height:757px;
  display:flex;
}
#u2735 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2735_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2736_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:6px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:100px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:20px;
}
#u2736 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:820px;
  width:192px;
  height:6px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:20px;
}
#u2736 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2736_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2737_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2737 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:114px;
  width:83px;
  height:18px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2737 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2737_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2738_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2738 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:169px;
  width:45px;
  height:22px;
  display:flex;
}
#u2738 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2738_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2739_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2739 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:238px;
  width:345px;
  height:46px;
  display:flex;
}
#u2739 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2739_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2740_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:413px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(74, 189, 172, 1);
  border-radius:24px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2740 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:305px;
  width:346px;
  height:413px;
  display:flex;
}
#u2740 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2740_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2741_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2741 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:317px;
  width:66px;
  height:20px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2741 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2741_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2742_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:42px;
}
#u2742 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:658px;
  width:162px;
  height:42px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2742 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2742_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2743_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:2px;
}
#u2743 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:384px;
  width:299px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.14470705148006deg);
  -moz-transform:rotate(-0.14470705148006deg);
  -ms-transform:rotate(-0.14470705148006deg);
  transform:rotate(-0.14470705148006deg);
  color:#F2F2F2;
}
#u2743 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2743_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2744_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:2px;
}
#u2744 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:432px;
  width:299px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.14470705148006deg);
  -moz-transform:rotate(-0.14470705148006deg);
  -ms-transform:rotate(-0.14470705148006deg);
  transform:rotate(-0.14470705148006deg);
  color:#F2F2F2;
}
#u2744 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2744_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2745_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:2px;
}
#u2745 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:485px;
  width:299px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.14470705148006deg);
  -moz-transform:rotate(-0.14470705148006deg);
  -ms-transform:rotate(-0.14470705148006deg);
  transform:rotate(-0.14470705148006deg);
  color:#F2F2F2;
}
#u2745 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2745_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2746_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:2px;
}
#u2746 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:536px;
  width:299px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.14470705148006deg);
  -moz-transform:rotate(-0.14470705148006deg);
  -ms-transform:rotate(-0.14470705148006deg);
  transform:rotate(-0.14470705148006deg);
  color:#F2F2F2;
}
#u2746 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2746_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2747_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:2px;
}
#u2747 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:587px;
  width:299px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.14470705148006deg);
  -moz-transform:rotate(-0.14470705148006deg);
  -ms-transform:rotate(-0.14470705148006deg);
  transform:rotate(-0.14470705148006deg);
  color:#F2F2F2;
}
#u2747 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2747_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2748_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:2px;
}
#u2748 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:639px;
  width:299px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.14470705148006deg);
  -moz-transform:rotate(-0.14470705148006deg);
  -ms-transform:rotate(-0.14470705148006deg);
  transform:rotate(-0.14470705148006deg);
  color:#F2F2F2;
}
#u2748 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2748_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2749_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2749 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:344px;
  width:56px;
  height:16px;
  display:flex;
}
#u2749 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2749_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2750_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#7F7F7F;
}
#u2750 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:368px;
  width:54px;
  height:14px;
  display:flex;
  font-size:12px;
  color:#7F7F7F;
}
#u2750 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2750_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2751_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2751 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:352px;
  width:48px;
  height:23px;
  display:flex;
}
#u2751 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2751_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2752_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2752 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:393px;
  width:56px;
  height:16px;
  display:flex;
}
#u2752 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2752_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2753_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#7F7F7F;
}
#u2753 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:415px;
  width:54px;
  height:14px;
  display:flex;
  font-size:12px;
  color:#7F7F7F;
}
#u2753 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2753_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2754_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2754 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:407px;
  width:59px;
  height:23px;
  display:flex;
}
#u2754 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2754_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2755_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2755 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:441px;
  width:56px;
  height:16px;
  display:flex;
}
#u2755 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2755_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2756_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#7F7F7F;
}
#u2756 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:464px;
  width:54px;
  height:14px;
  display:flex;
  font-size:12px;
  color:#7F7F7F;
}
#u2756 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2756_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2757_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2757 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:448px;
  width:51px;
  height:23px;
  display:flex;
}
#u2757 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2757_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2758_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2758 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:496px;
  width:56px;
  height:16px;
  display:flex;
}
#u2758 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2758_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2759_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2759 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:599px;
  width:56px;
  height:16px;
  display:flex;
}
#u2759 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2759_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2760_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#7F7F7F;
}
#u2760 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:619px;
  width:54px;
  height:14px;
  display:flex;
  font-size:12px;
  color:#7F7F7F;
}
#u2760 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2760_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2761_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2761 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:603px;
  width:48px;
  height:23px;
  display:flex;
}
#u2761 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2761_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2762_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#7F7F7F;
}
#u2762 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:519px;
  width:54px;
  height:14px;
  display:flex;
  font-size:12px;
  color:#7F7F7F;
}
#u2762 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2762_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2763_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2763 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:503px;
  width:48px;
  height:23px;
  display:flex;
}
#u2763 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2763_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2764_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2764 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:548px;
  width:56px;
  height:16px;
  display:flex;
}
#u2764 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2764_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2765_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#7F7F7F;
}
#u2765 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:570px;
  width:54px;
  height:14px;
  display:flex;
  font-size:12px;
  color:#7F7F7F;
}
#u2765 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2765_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2766_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2766 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:554px;
  width:51px;
  height:23px;
  display:flex;
}
#u2766 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2766_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2767_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:593px;
  height:288px;
}
#u2767 {
  border-width:0px;
  position:absolute;
  left:775px;
  top:121px;
  width:593px;
  height:288px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:25px;
  letter-spacing:0.4px;
  text-align:justify;
  text-justify:inter-word;
  line-height:32px;
}
#u2767 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2767_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2768_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:41px;
}
#u2768 {
  border-width:0px;
  position:absolute;
  left:798px;
  top:40px;
  width:214px;
  height:47px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:41px;
}
#u2768 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2768_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2769_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:197px;
}
#u2769 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:81px;
  width:148px;
  height:197px;
  display:flex;
}
#u2769 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2769_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2770 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2771_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-9px;
  width:417px;
  height:19px;
}
#u2771p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-3px;
  width:412px;
  height:6px;
}
#u2771p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:6px;
}
#u2771p001 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-1px;
  width:4px;
  height:4px;
}
#u2771p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u2771p002 {
  border-width:0px;
  position:absolute;
  left:394px;
  top:-9px;
  width:20px;
  height:20px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u2771p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2771 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:139px;
  width:408px;
  height:1px;
  display:flex;
}
#u2771 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2771_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2772_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:4px;
  background:inherit;
  background-color:rgba(0, 157, 217, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2772 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:137px;
  width:9px;
  height:4px;
  display:flex;
}
#u2772 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2772_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2773_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:59px;
}
#u2773 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:132px;
  width:66px;
  height:59px;
  display:flex;
}
#u2773 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2773_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2774_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2774 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:154px;
  width:251px;
  height:21px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2774 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2774_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2775 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2776_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-9px;
  width:340px;
  height:19px;
}
#u2776p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:336px;
  height:6px;
}
#u2776p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:6px;
}
#u2776p001 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:0px;
  width:4px;
  height:2px;
}
#u2776p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:2px;
}
#u2776p002 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:-10px;
  width:22px;
  height:20px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u2776p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u2776 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:684px;
  width:331px;
  height:1px;
  display:flex;
}
#u2776 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2776_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2777_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:9px;
  background:inherit;
  background-color:rgba(0, 157, 217, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2777 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:679px;
  width:7px;
  height:9px;
  display:flex;
}
#u2777 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2777_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2778_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:59px;
}
#u2778 {
  border-width:0px;
  position:absolute;
  left:544px;
  top:679px;
  width:66px;
  height:59px;
  display:flex;
}
#u2778 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2778_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2779_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2779 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:701px;
  width:251px;
  height:21px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2779 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2779_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2780_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:19px;
}
#u2780 {
  border-width:0px;
  position:absolute;
  left:872px;
  top:193px;
  width:10px;
  height:19px;
  display:flex;
}
#u2780 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2780_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2781_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:19px;
}
#u2781 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:114px;
  width:10px;
  height:19px;
  display:flex;
}
#u2781 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2781_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
