body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:786px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2271 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2272_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:740px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2272 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:64px;
  width:360px;
  height:740px;
  display:flex;
}
#u2272 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2272_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2273_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:28px;
}
#u2273 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:64px;
  width:360px;
  height:28px;
  display:flex;
}
#u2273 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2273_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2274_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
}
#u2274 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:71px;
  width:27px;
  height:15px;
  display:flex;
}
#u2274 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2274_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2275_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:14px;
}
#u2275 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:71px;
  width:19px;
  height:14px;
  display:flex;
}
#u2275 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2275_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2276_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u2276 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:72px;
  width:39px;
  height:17px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u2276 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2276_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2278 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2279_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:77px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u2279 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:799px;
  width:28px;
  height:77px;
  display:flex;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u2279 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2279_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2280_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:59px;
}
#u2280 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:40px;
  width:416px;
  height:59px;
  display:flex;
}
#u2280 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2280_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2281_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:757px;
}
#u2281 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:99px;
  width:29px;
  height:757px;
  display:flex;
}
#u2281 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2281_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2282_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:55px;
}
#u2282 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:799px;
  width:358px;
  height:55px;
  display:flex;
}
#u2282 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2282_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2283_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:757px;
}
#u2283 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:99px;
  width:29px;
  height:757px;
  display:flex;
}
#u2283 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2283_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2284_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:6px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:100px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:20px;
}
#u2284 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:820px;
  width:192px;
  height:6px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:20px;
}
#u2284 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2284_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u2286_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:133px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u2286 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:133px;
  display:flex;
}
.u2286 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u2286_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u2287_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#F7B733;
}
.u2287 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:57px;
  width:175px;
  height:25px;
  display:flex;
  font-size:20px;
  color:#F7B733;
}
.u2287 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u2287_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u2288_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u2288 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:23px;
  width:132px;
  height:34px;
  display:flex;
}
.u2288 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u2288_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u2289_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:113px;
}
.u2289 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:10px;
  width:113px;
  height:113px;
  display:flex;
}
.u2289 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u2289_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u2290_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:25px;
}
.u2290 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:98px;
  width:61px;
  height:25px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
.u2290 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u2290_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u2291_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#4ABDAC;
}
.u2291 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:80px;
  width:46px;
  height:15px;
  display:flex;
  font-size:11px;
  color:#4ABDAC;
}
.u2291 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u2291_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2285-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:133px;
}
#u2285-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:133px;
  width:339px;
  height:133px;
}
#u2285-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:266px;
  width:339px;
  height:133px;
}
#u2285-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:399px;
  width:339px;
  height:133px;
}
#u2285 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:174px;
  width:339px;
  height:532px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u2292 {
  position:absolute;
  left:307px;
  top:175px;
}
#u2292_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:105px;
  height:109px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2292_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2293_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:37px;
}
#u2293 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:37px;
  display:flex;
}
#u2293 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2293_img.mouseOver {
}
#u2293.mouseOver {
}
#u2293_img.selected {
}
#u2293.selected {
}
#u2293_img.selected.error {
}
#u2293.selected.error {
}
#u2293_img.selected.hint {
}
#u2293.selected.hint {
}
#u2293_img.selected.error.hint {
}
#u2293.selected.error.hint {
}
#u2293_img.mouseOver.mouseDown {
}
#u2293.mouseOver.mouseDown {
}
#u2293_img.mouseOver.selected {
}
#u2293.mouseOver.selected {
}
#u2293_img.mouseOver.error {
}
#u2293.mouseOver.error {
}
#u2293_img.mouseOver.hint {
}
#u2293.mouseOver.hint {
}
#u2293_img.mouseOver.selected.error {
}
#u2293.mouseOver.selected.error {
}
#u2293_img.mouseOver.selected.hint {
}
#u2293.mouseOver.selected.hint {
}
#u2293_img.mouseOver.selected.error.hint {
}
#u2293.mouseOver.selected.error.hint {
}
#u2293_img.mouseOver.error.hint {
}
#u2293.mouseOver.error.hint {
}
#u2293_img.mouseDown.selected {
}
#u2293.mouseDown.selected {
}
#u2293_img.mouseDown.selected.error {
}
#u2293.mouseDown.selected.error {
}
#u2293_img.mouseDown.selected.hint {
}
#u2293.mouseDown.selected.hint {
}
#u2293_img.mouseDown.selected.error.hint {
}
#u2293.mouseDown.selected.error.hint {
}
#u2293_img.mouseOver.mouseDown.selected {
}
#u2293.mouseOver.mouseDown.selected {
}
#u2293_img.mouseOver.mouseDown.error {
}
#u2293.mouseOver.mouseDown.error {
}
#u2293_img.mouseOver.mouseDown.hint {
}
#u2293.mouseOver.mouseDown.hint {
}
#u2293_img.mouseOver.mouseDown.selected.error {
}
#u2293.mouseOver.mouseDown.selected.error {
}
#u2293_img.mouseOver.mouseDown.selected.hint {
}
#u2293.mouseOver.mouseDown.selected.hint {
}
#u2293_img.mouseOver.mouseDown.selected.error.hint {
}
#u2293.mouseOver.mouseDown.selected.error.hint {
}
#u2293_img.mouseOver.mouseDown.error.hint {
}
#u2293.mouseOver.mouseDown.error.hint {
}
#u2293_img.focused.selected {
}
#u2293.focused.selected {
}
#u2293_img.focused.selected.error {
}
#u2293.focused.selected.error {
}
#u2293_img.focused.selected.hint {
}
#u2293.focused.selected.hint {
}
#u2293_img.focused.selected.error.hint {
}
#u2293.focused.selected.error.hint {
}
#u2293_img.selected.disabled {
}
#u2293.selected.disabled {
}
#u2293_img.selected.hint.disabled {
}
#u2293.selected.hint.disabled {
}
#u2293_img.selected.error.disabled {
}
#u2293.selected.error.disabled {
}
#u2293_img.selected.error.hint.disabled {
}
#u2293.selected.error.hint.disabled {
}
#u2293_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2294_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:37px;
  background:inherit;
  background-color:rgba(74, 189, 172, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2294 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:105px;
  height:37px;
  display:flex;
}
#u2294 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2294_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:37px;
  background:inherit;
  background-color:rgba(247, 183, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2294.mouseOver {
}
#u2294_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:37px;
  background:inherit;
  background-color:rgba(247, 183, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2294.selected {
}
#u2294_div.selected.error {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:37px;
  background:inherit;
  background-color:rgba(247, 183, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2294.selected.error {
}
#u2294_div.selected.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:37px;
  background:inherit;
  background-color:rgba(247, 183, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2294.selected.hint {
}
#u2294_div.selected.error.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:37px;
  background:inherit;
  background-color:rgba(247, 183, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2294.selected.error.hint {
}
#u2294_div.mouseOver.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:37px;
  background:inherit;
  background-color:rgba(247, 183, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2294.mouseOver.mouseDown {
}
#u2294_div.mouseOver.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:37px;
  background:inherit;
  background-color:rgba(247, 183, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2294.mouseOver.selected {
}
#u2294_div.mouseOver.error {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:37px;
  background:inherit;
  background-color:rgba(247, 183, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2294.mouseOver.error {
}
#u2294_div.mouseOver.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:37px;
  background:inherit;
  background-color:rgba(247, 183, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2294.mouseOver.hint {
}
#u2294_div.mouseOver.selected.error {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:37px;
  background:inherit;
  background-color:rgba(247, 183, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2294.mouseOver.selected.error {
}
#u2294_div.mouseOver.selected.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:37px;
  background:inherit;
  background-color:rgba(247, 183, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2294.mouseOver.selected.hint {
}
#u2294_div.mouseOver.selected.error.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:37px;
  background:inherit;
  background-color:rgba(247, 183, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2294.mouseOver.selected.error.hint {
}
#u2294_div.mouseOver.error.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:37px;
  background:inherit;
  background-color:rgba(247, 183, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2294.mouseOver.error.hint {
}
#u2294_div.mouseDown.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:37px;
  background:inherit;
  background-color:rgba(247, 183, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2294.mouseDown.selected {
}
#u2294_div.mouseDown.selected.error {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:37px;
  background:inherit;
  background-color:rgba(247, 183, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2294.mouseDown.selected.error {
}
#u2294_div.mouseDown.selected.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:37px;
  background:inherit;
  background-color:rgba(247, 183, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2294.mouseDown.selected.hint {
}
#u2294_div.mouseDown.selected.error.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:37px;
  background:inherit;
  background-color:rgba(247, 183, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2294.mouseDown.selected.error.hint {
}
#u2294_div.mouseOver.mouseDown.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:37px;
  background:inherit;
  background-color:rgba(247, 183, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2294.mouseOver.mouseDown.selected {
}
#u2294_div.mouseOver.mouseDown.error {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:37px;
  background:inherit;
  background-color:rgba(247, 183, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2294.mouseOver.mouseDown.error {
}
#u2294_div.mouseOver.mouseDown.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:37px;
  background:inherit;
  background-color:rgba(247, 183, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2294.mouseOver.mouseDown.hint {
}
#u2294_div.mouseOver.mouseDown.selected.error {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:37px;
  background:inherit;
  background-color:rgba(247, 183, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2294.mouseOver.mouseDown.selected.error {
}
#u2294_div.mouseOver.mouseDown.selected.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:37px;
  background:inherit;
  background-color:rgba(247, 183, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2294.mouseOver.mouseDown.selected.hint {
}
#u2294_div.mouseOver.mouseDown.selected.error.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:37px;
  background:inherit;
  background-color:rgba(247, 183, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2294.mouseOver.mouseDown.selected.error.hint {
}
#u2294_div.mouseOver.mouseDown.error.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:37px;
  background:inherit;
  background-color:rgba(247, 183, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2294.mouseOver.mouseDown.error.hint {
}
#u2294_div.focused.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:37px;
  background:inherit;
  background-color:rgba(247, 183, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2294.focused.selected {
}
#u2294_div.focused.selected.error {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:37px;
  background:inherit;
  background-color:rgba(247, 183, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2294.focused.selected.error {
}
#u2294_div.focused.selected.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:37px;
  background:inherit;
  background-color:rgba(247, 183, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2294.focused.selected.hint {
}
#u2294_div.focused.selected.error.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:37px;
  background:inherit;
  background-color:rgba(247, 183, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2294.focused.selected.error.hint {
}
#u2294_div.selected.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:37px;
  background:inherit;
  background-color:rgba(247, 183, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2294.selected.disabled {
}
#u2294_div.selected.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:37px;
  background:inherit;
  background-color:rgba(247, 183, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2294.selected.hint.disabled {
}
#u2294_div.selected.error.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:37px;
  background:inherit;
  background-color:rgba(247, 183, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2294.selected.error.disabled {
}
#u2294_div.selected.error.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:37px;
  background:inherit;
  background-color:rgba(247, 183, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2294.selected.error.hint.disabled {
}
#u2294_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2295_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:37px;
}
#u2295 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:72px;
  width:105px;
  height:37px;
  display:flex;
}
#u2295 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2295_img.mouseOver {
}
#u2295.mouseOver {
}
#u2295_img.selected {
}
#u2295.selected {
}
#u2295_img.selected.error {
}
#u2295.selected.error {
}
#u2295_img.selected.hint {
}
#u2295.selected.hint {
}
#u2295_img.selected.error.hint {
}
#u2295.selected.error.hint {
}
#u2295_img.mouseOver.mouseDown {
}
#u2295.mouseOver.mouseDown {
}
#u2295_img.mouseOver.selected {
}
#u2295.mouseOver.selected {
}
#u2295_img.mouseOver.error {
}
#u2295.mouseOver.error {
}
#u2295_img.mouseOver.hint {
}
#u2295.mouseOver.hint {
}
#u2295_img.mouseOver.selected.error {
}
#u2295.mouseOver.selected.error {
}
#u2295_img.mouseOver.selected.hint {
}
#u2295.mouseOver.selected.hint {
}
#u2295_img.mouseOver.selected.error.hint {
}
#u2295.mouseOver.selected.error.hint {
}
#u2295_img.mouseOver.error.hint {
}
#u2295.mouseOver.error.hint {
}
#u2295_img.mouseDown.selected {
}
#u2295.mouseDown.selected {
}
#u2295_img.mouseDown.selected.error {
}
#u2295.mouseDown.selected.error {
}
#u2295_img.mouseDown.selected.hint {
}
#u2295.mouseDown.selected.hint {
}
#u2295_img.mouseDown.selected.error.hint {
}
#u2295.mouseDown.selected.error.hint {
}
#u2295_img.mouseOver.mouseDown.selected {
}
#u2295.mouseOver.mouseDown.selected {
}
#u2295_img.mouseOver.mouseDown.error {
}
#u2295.mouseOver.mouseDown.error {
}
#u2295_img.mouseOver.mouseDown.hint {
}
#u2295.mouseOver.mouseDown.hint {
}
#u2295_img.mouseOver.mouseDown.selected.error {
}
#u2295.mouseOver.mouseDown.selected.error {
}
#u2295_img.mouseOver.mouseDown.selected.hint {
}
#u2295.mouseOver.mouseDown.selected.hint {
}
#u2295_img.mouseOver.mouseDown.selected.error.hint {
}
#u2295.mouseOver.mouseDown.selected.error.hint {
}
#u2295_img.mouseOver.mouseDown.error.hint {
}
#u2295.mouseOver.mouseDown.error.hint {
}
#u2295_img.focused.selected {
}
#u2295.focused.selected {
}
#u2295_img.focused.selected.error {
}
#u2295.focused.selected.error {
}
#u2295_img.focused.selected.hint {
}
#u2295.focused.selected.hint {
}
#u2295_img.focused.selected.error.hint {
}
#u2295.focused.selected.error.hint {
}
#u2295_img.selected.disabled {
}
#u2295.selected.disabled {
}
#u2295_img.selected.hint.disabled {
}
#u2295.selected.hint.disabled {
}
#u2295_img.selected.error.disabled {
}
#u2295.selected.error.disabled {
}
#u2295_img.selected.error.hint.disabled {
}
#u2295.selected.error.hint.disabled {
}
#u2295_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2296_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:32px;
}
#u2296 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:143px;
  width:37px;
  height:32px;
  display:flex;
}
#u2296 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2296_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2298 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2299_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:77px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u2299 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:800px;
  width:28px;
  height:77px;
  display:flex;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u2299 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2299_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2300_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:59px;
}
#u2300 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:41px;
  width:416px;
  height:59px;
  display:flex;
}
#u2300 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2300_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2301_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:757px;
}
#u2301 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:100px;
  width:29px;
  height:757px;
  display:flex;
}
#u2301 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2301_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2302_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:55px;
}
#u2302 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:800px;
  width:358px;
  height:55px;
  display:flex;
}
#u2302 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2302_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2303_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:757px;
}
#u2303 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:100px;
  width:29px;
  height:757px;
  display:flex;
}
#u2303 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2303_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2304_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:6px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:100px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:20px;
}
#u2304 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:821px;
  width:192px;
  height:6px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:20px;
}
#u2304 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2304_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2305_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#000000;
  text-align:center;
}
#u2305 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:111px;
  width:80px;
  height:33px;
  display:flex;
  font-size:20px;
  color:#000000;
  text-align:center;
}
#u2305 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2305_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2306_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
}
#u2306 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:111px;
  width:37px;
  height:37px;
  display:flex;
}
#u2306 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2306_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2307 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2308_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-9px;
  width:113px;
  height:19px;
}
#u2308p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:110px;
  height:6px;
}
#u2308p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:6px;
}
#u2308p001 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:4px;
  height:4px;
}
#u2308p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u2308p002 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:-9px;
  width:22px;
  height:20px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u2308p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u2308 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:161px;
  width:104px;
  height:1px;
  display:flex;
}
#u2308 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2308_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2309_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:3px;
  background:inherit;
  background-color:rgba(0, 157, 217, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2309 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:159px;
  width:2px;
  height:3px;
  display:flex;
}
#u2309 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2309_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2310_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:59px;
}
#u2310 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:141px;
  width:66px;
  height:59px;
  display:flex;
}
#u2310 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2310_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2311_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2311 {
  border-width:0px;
  position:absolute;
  left:544px;
  top:163px;
  width:242px;
  height:21px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2311 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2311_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2312 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2313_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-9px;
  width:375px;
  height:19px;
}
#u2313p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
  width:372px;
  height:6px;
}
#u2313p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:6px;
}
#u2313p001 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:4px;
  height:2px;
}
#u2313p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:2px;
}
#u2313p002 {
  border-width:0px;
  position:absolute;
  left:351px;
  top:-10px;
  width:22px;
  height:20px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u2313p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u2313 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:124px;
  width:366px;
  height:1px;
  display:flex;
}
#u2313 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2313_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2314_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:11px;
  background:inherit;
  background-color:rgba(0, 157, 217, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2314 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:117px;
  width:7px;
  height:11px;
  display:flex;
}
#u2314 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2314_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2315_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:59px;
}
#u2315 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:92px;
  width:66px;
  height:59px;
  display:flex;
}
#u2315 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2315_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2316_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2316 {
  border-width:0px;
  position:absolute;
  left:526px;
  top:114px;
  width:242px;
  height:21px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2316 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2316_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2317 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2318_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-9px;
  width:208px;
  height:19px;
}
#u2318p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:204px;
  height:6px;
}
#u2318p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:6px;
}
#u2318p001 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:0px;
  width:4px;
  height:2px;
}
#u2318p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:2px;
}
#u2318p002 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:-10px;
  width:22px;
  height:20px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u2318p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u2318 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:418px;
  width:199px;
  height:1px;
  display:flex;
}
#u2318 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2318_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2319_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:6px;
  background:inherit;
  background-color:rgba(0, 157, 217, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2319 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:414px;
  width:4px;
  height:6px;
  display:flex;
}
#u2319 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2319_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2320_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:59px;
}
#u2320 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:399px;
  width:66px;
  height:59px;
  display:flex;
}
#u2320 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2320_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2321_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2321 {
  border-width:0px;
  position:absolute;
  left:544px;
  top:421px;
  width:242px;
  height:21px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2321 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2321_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
